<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>3カラム</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrap">
    <header class="header">ヘッダー</header>
    <div class="wrapper">
    <main class="main">メインコンテンツ</main>
    <main class="side1">サイドメニュー1</main>
    </div>
    <aside class="side2">サイドメニュー2
    </aside>
    <footer class="footer">フッター</footer>
  </div>
</body>
</html>
