<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>3カラム応用</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrap">
    <header class="header">ロゴ画像</header>

    <main class="main">
    <div class="main-content">
      <div class="main-center">
        <div class="main1">メインコンツ①</div>
        <div class="main2">メイン②</div>
        <div class="main3">メイン③</div>
      </div>
    </div>

    <aside class="side side1">サイドメニュー1</aside>
    <aside class="side side2">バナー画像
    </aside>
    </main>
    <footer class="footer">フッター</footer>
  </div>
</body>
</html>
